<div class="product-card">
    <div>
      <a href="{{product_product.url}}" >
    {% if  product_product.featured_image %}
        <img src="{{product_product.featured_image |  img_url: 'medium' }}" alt="{{product_product.featured_image.alt}}"  width="200px" height="200px"/>
    {% else %}
        {{ 'product-1' | placeholder_svg_tag:'w-full h-full object-cover'  }}
    {% endif %}
      </a>
    </div>
    <a href="{{product_product.url}}" > {{product_product.title}} </a>
    <span>{{product_product.vendor}}</span>
    <p>{{ product_product.price | money}} </p>
</div>