
<article>
{% for block in section.blocks %}
    {% case block.type %}

         {% when "article_title" %}
            <a href="{{blog.url}}" >{{blog.title}}</a>
            <h1>{{article.title}}</h1>

         {% when "article_auhtor" %}
            {% if section.settings.enable_author %}
                <small>{{article.author}}</small>
            {% endif  %}

         {% when "article_published-date" %}
            {% if section.settings.enable_published_date %}
                <time datetime="{{article.published_at | date: '%Y-%m-%d'}}"  >{{article.published_at | date: format: 'on_date' }}</time>
            {% endif  %}

         {% when "featured_image" %}
            {% if article.image != blank %}
                <img src="{{article.image | img_url : 'large' }}" alt="{{article.image.alt}}" width="300px" height="200px"  />
           {% else %}
                {% assign placeholder_image = 'lifestyle-2' %}
                {{ placeholder_image | placeholder_svg_tag: 'w-full h-80 object-cover' }}
           {% endif %}

         {% when "article_content" %}
            <div class="" >{{article.content}}</div>

        {% else %}
    {% endcase %} 
  {%  endfor %}
  
  </article>

   {% if blog.comments_enabled? %}
      <div id="comments" >
         {% if article.comments_count > 0 %}
             <h1>See What People Are Saying</h1>
             {%  paginate article.comments by 3 %}  
                {% for comment in article.comments  %}
                    <div>
                        <span class="comment-author" >{{comment.author}}</span>
                        <span>{{comment.created_at | date: format: "default"  }}</span>
                        <p>{{comment.content}}</p>
                    </div>
                {% endfor %}
                {% if paginate.pages > 1 %}
                 {{ paginate |  default_pagination }}
                {% endif  %}   
             {% endpaginate %} 
         {% else %}
          there are no comment
         {% endif %}
      </div>
      <div id="comment_form" >
        {% form 'new_comment' ,  article   %}
            <div class="flex_1 mx-auto" >
               <div>
                 <label for="comment_author" >Name</label>
                 <input type="text" name="comment[author]" id="comment_author" placeholder="Talha Gil" required />
               </div>
               <div>
                 <label for="comment_email" >Email</label>
                 <input type="email" name="comment[email]" id="comment_email" placeholder="talha@gmail.com" required />
               </div>
               <div>
                <label for="comment_content" >Comment</label>
                <textarea name="comment[body]" id="comment_content" placeholder="talha@gmail.com" required ></textarea>
              </div>
              <div>
                <input type="submit" value="Post comment" />
              </div>
            </div>
        {% endform %} 
      </div>
    {% endif %}


{% schema %}
 {

     "name": "Template Article",
     "settings" : [
        {
            "type": "checkbox",
            "id" : "enable_author",
            "default" : true ,
            "label": "display Author Name"
        } , {
            "type": "checkbox",
            "id" : "enable_published_date",
            "default" : true ,
            "label": "display Published Date"

        }
     ],
     "blocks": [
        {
            "type": "article_title",
            "name" : "title",
            "limit": 1
        } ,  {
            "type": "article_auhtor", 
            "name" : "Author",
            "limit": 1
        } ,  {
            "type": "article_published-date",
            "name" : "Published Date",
            "limit": 1
        } ,  {
            "type": "featured_image",
            "name" : "Thumbnail",
            "limit": 1
        } ,  {
            "type": "article_content",
            "name" : "Content",
            "limit": 1
        }
        
     ]

 }
 {% endschema %}